<p id="notice"><%= notice %></p>



  <div class="beforewrap">
    <div class="title">
      <div class="pannelleft00">
      </div>
        <p class="title1">Rew-generation</p>
        <p class="titlep">ー留学のその先を伝えるメディアー</p>
      <div class="pannelright00">
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="top">
      <p>Rew-generation<span>ー留学のその先を伝えるメディアー</span></p>
    </div>
    <div id="nav">
      <img src="images/nav.png">
      <div id="aboutus">
        <a href="#"><%= image_tag("abus.png") %></a>
      </div>
      <div id="article">
        <a href="#"><%= image_tag("article.png") %></a>
      </div>
      <div id="contact">
        <a href="#"><%= image_tag("con.png") %></a>
      </div>
    </div>
    
    <div id="pickup">
    <ul>
      <li class="pickup">
        <a href="Rew-generation-article.html">
              <%= image_tag("trip04.jpg") %>
              <figcaption>
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <p>昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを、YouTubeチャンネル「AsapTHOUGHT」に掲載された動画から紹介。</p>
          </figcaption>
           </a>
      </li>
      <li class="pickup">
        <a href="Rew-generation-article.html">
              <%= image_tag("trip05.jpg") %>
              <figcaption>
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <p>昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを、YouTubeチャンネル「AsapTHOUGHT」に掲載された動画から紹介。</p>
          </figcaption>
           </a>
      </li>
      <li class="pickup">
        <a href="Rew-generation-article.html">
              <%= image_tag("trip04.jpg") %>
              <figcaption>
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <p>昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを、YouTubeチャンネル「AsapTHOUGHT」に掲載された動画から紹介。</p>
          </figcaption>
           </a>
      </li>
      <li class="pickup">
        <a href="Rew-generation-article.html">
              <%= image_tag("trip05.jpg") %>
              <figcaption>
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <p>昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを、YouTubeチャンネル「AsapTHOUGHT」に掲載された動画から紹介。</p>
          </figcaption>
           </a>
      </li>
    </ul>
    </div>
    <div class="recommend">
      <%= image_tag("recommend.png") %>
      <div class="recommend01">
        <%= image_tag("recommend01.png") %>
      </div>
      <div class="recommend02">
        <%= image_tag("recommend02.png") %>
      </div>
      <div class="recommend03">
        <%= image_tag("recommend03.png") %>
      </div>
      <div class="recommend04">
        <%= image_tag("recommend04.png") %>
      </div>
    </div>

    <div class="col-6">
      <div class="latest">
        <p id="latest">New Article</p>
      </div>
      <div class="pannelcover">
        <div class="pannelleft01">
        </div>
        <div class="pannel01">
          <div class="col-3">
            <a href="Rew-generation-article.html"><%= image_tag("trip04.jpg") %></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read01">
            <%= image_tag("readhover.jpg") %>
          </div>
          <p class="linkarea01">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright01">
        </div>
      </div>
      <div class="margin"></div>
      <div class="pannelcover">
        <div class="pannelleft02">
        </div>
        <div class="pannel02">
          <div class="col-3">
            <a href="Rew-generation-article.html"><%= image_tag("trip04.jpg") %></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read02">
            <%= image_tag("readhover.jpg") %>
          </div>
          <p class="linkarea02">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright02">
        </div>
      </div>
      <div class="margin"></div>
      <div class="pannelcover">
        <div class="pannelleft03">
        </div>
        <div class="pannel03">
          <div class="col-3">
            <a href="Rew-generation-article.html"><%= image_tag("trip04.jpg") %></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read03">
            <%= image_tag("readhover.jpg") %>
          </div>
          <p class="linkarea03">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright03">
        </div>
      </div>
      <div class="margin"></div>
      <div class="pannelcover">
        <div class="pannelleft04">
        </div>
        <div class="pannel04">
          <div class="col-3">
            <a href="Rew-generation-article.html"><%= image_tag("trip04.jpg") %></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read04">
            <%= image_tag("readhover.jpg") %>
          </div>
          <p class="linkarea04">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright04">
        </div>
      </div>
      <div class="margin"></div>
      <div class="pannelcover">
        <div class="pannelleft05">
        </div>
        <div class="pannel05">
          <div class="col-3">
            <a href="Rew-generation-article.html"><%= image_tag("trip04.jpg") %></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read05">
            <%= image_tag("readhover.jpg") %>
          </div>
          <p class="linkarea05">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright05">
        </div>
      </div>
      <div class="margin"></div>
      <div class="more">
        <a href="#"><p>もっと読む</p></a>
       </div>

    </div>
    <div class="col-6">
      <div class="sns">
        <p id="sns">SNS</p>
      </div>
    </div>
    <footer>
      <%= image_tag("footer.png") %>
        <div class="what">
          <a href="#">
            <div id="what">
              <%= image_tag("what.png") %>
            </div>
          </a>
        </div>
        <div class="team">
          <a href="#">
            <div id="team">
              <%= image_tag("team.png") %>
            </div>
          </a>
        </div>
        <div class="e-mail">
          <a href="#">
            <div id="e-mail">
              <%= image_tag("e-mail.png") %>
            </div>
          </a>
        </div>
    </footer>

  </div>





<% @articles.each do |article| %>
  <p><strong>Title:</strong><br><%= article.title %></P>
  <p><strong>Paragraph1:</strong><br><%= article.para1 %></P>
  <p><strong>Paragraph2:</strong><br><%= article.para2 %></P>
  <p><%= link_to 'Show', article %><%= link_to 'Edit', edit_article_path(article) %><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></P>
  <p><%= image_tag article.photo.url(:medium) %></P>
<% end %>


<a href="#"><%= image_tag("bike01.jpg") %></a>

<!-- <p>test picture below</p>
<img src="../images/bike01.jpg"> -->


<br>

<%= link_to 'New Article', new_article_path %>
