<p id="notice"><%= notice %></p>


<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rew-generation</title>
  <script src="js/jQuery-2.1.4.min.js"></script>
  <script src="js/style1.js"></script>
  <script src="js/style2.js"></script>
  <script src="js/style3.js"></script>
  <script type="text/javascript" src="infiniteslide.js"></script>
  <script type="text/javascript" src="jquery.pause.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="beforewrap">
    <div class="title">
      <div class="pannelleft00">
      </div>
        <p class="title1">Rew-generation</p>
        <p class="titlep">ー留学のその先を伝えるメディアー</p>
      <div class="pannelright00">
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="top">
      <p>Rew-generation<span>ー留学のその先を伝えるメディアー</span></p>
    </div>
    <div id="nav">
      <img src="images/nav.png">
      <div id="aboutus">
        <a href="#"><img src="images/abus.png"></a>
      </div>
      <div id="article">
        <a href="#"><img src="images/article.png"></a>
      </div>
      <div id="contact">
        <a href="#"><img src="images/con.png"></a>
      </div>
    </div>
    
    <div id="pickup">
    <ul>
      <li class="pickup">
        <a href="Rew-generation-article.html">
              <img src="images/trip04.jpg" alt="" />
              <figcaption>
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <p>昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを、YouTubeチャンネル「AsapTHOUGHT」に掲載された動画から紹介。</p>
          </figcaption>
           </a>
      </li>
      <li class="pickup">
        <a href="Rew-generation-article.html">
              <img src="images/trip05.jpg" alt="" />
              <figcaption>
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <p>昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを、YouTubeチャンネル「AsapTHOUGHT」に掲載された動画から紹介。</p>
          </figcaption>
           </a>
      </li>
      <li class="pickup">
        <a href="Rew-generation-article.html">
              <img src="images/trip04.jpg" alt="" />
              <figcaption>
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <p>昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを、YouTubeチャンネル「AsapTHOUGHT」に掲載された動画から紹介。</p>
          </figcaption>
           </a>
      </li>
      <li class="pickup">
        <a href="Rew-generation-article.html">
              <img src="images/trip05.jpg" alt="" />
              <figcaption>
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <p>昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを、YouTubeチャンネル「AsapTHOUGHT」に掲載された動画から紹介。</p>
          </figcaption>
           </a>
      </li>
    </ul>
    </div>
    <div class="recommend">
      <img src="images/recommend.png">
      <div class="recommend01">
        <img src="images/recommend01.jpg">
      </div>
      <div class="recommend02">
        <img src="images/recommend02.jpg">
      </div>
      <div class="recommend03">
        <img src="images/recommend03.jpg">
      </div>
      <div class="recommend04">
        <img src="images/recommend04.jpg">
      </div>
    </div>

    <div class="col-6">
      <div class="latest">
        <p id="latest">New Article</p>
      </div>
      <div class="pannelcover">
        <div class="pannelleft01">
        </div>
        <div class="pannel01">
          <div class="col-3">
            <a href="Rew-generation-article.html"><img src="images/trip04.jpg"></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read01">
            <img src="images/readhover.jpg">
          </div>
          <p class="linkarea01">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright01">
        </div>
      </div>
      <div class="margin"></div>
      <div class="pannelcover">
        <div class="pannelleft02">
        </div>
        <div class="pannel02">
          <div class="col-3">
            <a href="Rew-generation-article.html"><img src="images/trip04.jpg"></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read02">
            <img src="images/readhover.jpg">
          </div>
          <p class="linkarea02">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright02">
        </div>
      </div>
      <div class="margin"></div>
      <div class="pannelcover">
        <div class="pannelleft03">
        </div>
        <div class="pannel03">
          <div class="col-3">
            <a href="Rew-generation-article.html"><img src="images/trip04.jpg"></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read03">
            <img src="images/readhover.jpg">
          </div>
          <p class="linkarea03">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright03">
        </div>
      </div>
      <div class="margin"></div>
      <div class="pannelcover">
        <div class="pannelleft04">
        </div>
        <div class="pannel04">
          <div class="col-3">
            <a href="Rew-generation-article.html"><img src="images/trip04.jpg"></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read04">
            <img src="images/readhover.jpg">
          </div>
          <p class="linkarea04">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright04">
        </div>
      </div>
      <div class="margin"></div>
      <div class="pannelcover">
        <div class="pannelleft05">
        </div>
        <div class="pannel05">
          <div class="col-3">
            <a href="Rew-generation-article.html"><img src="images/trip04.jpg"></a>
          </div>
          <div class="pannelcontent">
            <h3>旅行者必見！時差ボケにならない「5つのコツ」。</h3>
            <div class="subcontent">
              <p>by James / Jul 17, 2015</p>
            </div>
            <p class="article">昼間が眠くなり楽しめず、夜に目が覚めて眠れずに辛い思いをする。特にトラベル歴が長い人は、時差ボケで苦しんだ経験も多いはず。ここでは、そんな時差ボケを克服するための5つのコツを紹介。</br><span>詳細はこちら</span></p>
          </div>
          <div class="read05">
            <img src="images/readhover.jpg">
          </div>
          <p class="linkarea05">
            <a href="Rew-generation-article.html">More...</a>
          </p>
        </div>
        <div class="pannelright05">
        </div>
      </div>
      <div class="margin"></div>
      <div class="more">
        <a href="#"><p>もっと読む</p></a>
       </div>

    </div>
    <div class="col-6">
      <div class="sns">
        <p id="sns">SNS</p>
      </div>
    </div>
    <footer>
      <img src="images/footer.png">
        <div class="what">
          <a href="#">
            <div id="what">
              <img src="images/what.png">
            </div>
          </a>
        </div>
        <div class="team">
          <a href="#">
            <div id="team">
              <img src="images/team.png">
            </div>
          </a>
        </div>
        <div class="e-mail">
          <a href="#">
            <div id="e-mail">
              <img src="images/e-mail.png">
            </div>
          </a>
        </div>
    </footer>





  </div>

</body>
</html>



<% @articles.each do |article| %>
  <p><strong>Title:</strong><br><%= article.title %></P>
  <p><strong>Paragraph1:</strong><br><%= article.para1 %></P>
  <p><strong>Paragraph2:</strong><br><%= article.para2 %></P>
  <p><%= link_to 'Show', article %><%= link_to 'Edit', edit_article_path(article) %><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></P>
  <p><%= image_tag article.photo.url(:medium) %></P>
<% end %>



<br>

<%= link_to 'New Article', new_article_path %>
